@use "sass:color";

@function solidify($color, $transparent-color) {
  $alpha: color.alpha($transparent-color) * 100%;
  $transparent-color: color.change($transparent-color, $alpha: 1);
  @return mix($color, $transparent-color, $weight: 100% - $alpha);
}

$black: #000;

$tb-gray200: #484848;
$tb-gray300: #3E3E3E;
$tb-gray400: #323232;
$tb-gray500: #242424;
$tb-gray600: #1A1A1A;
$tb-gray700: #121212;
$tb-gray800: #0A0A0A;

$black-text-primary: #FFFFFFD9;
$black-text-secondary: #FFFFFFAB;
$black-text-tertiary: #FFFFFF8A;
$tb-gray-text-primary: #FFFFFFF0;

$black-text-primary-solid: solidify($black, $black-text-primary);
$black-text-secondary-solid: solidify($black, $black-text-secondary);
$black-text-tertiary-solid: solidify($black, $black-text-tertiary);

$dark-gray100: #868686;
$dark-gray200: #6C6C6C;
$dark-gray300: #5A5A5A;
$dark-gray400: #4C4C4C;
$dark-gray500: #404040;
$dark-gray600: #343434;
$dark-gray700: #2A2A2A;
$dark-gray800: #202020;
$dark-gray900: #161616;

$dark-gray900-text-primary: #FFFFFFE0;
$dark-gray900-text-secondary: #FFFFFF99;
$dark-gray900-text-tertiary: #FFFFFF78;
$dark-gray-text-primary: #FFFFFFE0;

$dark-gray900-text-primary-solid: solidify($dark-gray900, $dark-gray900-text-primary);
$dark-gray900-text-secondary-solid: solidify($dark-gray900, $dark-gray900-text-secondary);
$dark-gray900-text-tertiary-solid: solidify($dark-gray900, $dark-gray900-text-tertiary);

$light-gray100: #FAFAFA;
$light-gray200: #F0F0F0;
$light-gray300: #E6E6E6;
$light-gray400: #DCDCDC;
$light-gray500: #D2D2D2;
$light-gray600: #C2C2C2;
$light-gray700: #B2B2B2;
$light-gray800: #9E9E9E;
$light-gray900: #828282;

$light-gray100-text-primary: #000000F5;
$light-gray100-text-secondary: #0000007D;
$light-gray100-text-tertiary: #00000061;
$light-gray-text-primary: #000000F0;

$light-gray100-text-primary-solid: solidify($light-gray100, $light-gray100-text-primary);
$light-gray100-text-secondary-solid: solidify($light-gray100, $light-gray100-text-secondary);
$light-gray100-text-tertiary-solid: solidify($light-gray100, $light-gray100-text-tertiary);

$blue100: #D8E3FF;
$blue200: #C1D3FF;
$blue300: #A9C1FF;
$blue400: #87A8FF;
$blue500: #6590FF;
$blue600: #4A73DF;
$blue700: #3256B8;
$blue800: #1B3A88;
$blue900: #0E204C;

$blue500-text-primary: #FFFFFFF5;
$blue700-text-primary: #FFFFFFF0;

$red100: #FFD1DC;
$red200: #FEB4C7;
$red300: #FE97B0;
$red400: #FF6D91;
$red500: #FA4772;
$red600: #DC2F58;
$red700: #B71B3F;
$red800: #820D2B;
$red900: #430A17;

$red500-text-primary: #FFFFFFF5;
$red700-text-primary: #FFFFFFF0;

$shadow-on-tb-gray700: rgba(0, 0, 0, 0.44);
$shadow-on-dark-gray700: rgba(0, 0, 0, 0.24);
$shadow-on-dark-gray900: rgba(0, 0, 0, 0.22);
$shadow-on-light-gray100: rgba(0, 0, 0, 0.22);
$shadow-on-light-gray300: rgba(0, 0, 0, 0.24);

$drop-shadow-on-tb-gray700: 4px 4px 0 solidify($tb-gray700, $shadow-on-tb-gray700);
$drop-shadow-on-dark-gray900: 4px 4px 0 solidify($dark-gray900, $shadow-on-dark-gray900);
$drop-shadow-on-dark-gray700: 4px 4px 0 solidify($dark-gray700, $shadow-on-dark-gray700);
$drop-shadow-on-light-gray100: 4px 4px 0 solidify($light-gray100, $shadow-on-light-gray100);
$drop-shadow-on-light-gray300: 4px 4px 0 solidify($light-gray300, $shadow-on-light-gray300);

$filter-hover-tb-gray700: rgba(0, 0, 0, 0.16);
$filter-hover-tb-gray500: rgba(0, 0, 0, 0.18);
$filter-hover-tb-gray400: rgba(0, 0, 0, 0.16);
$filter-hover-tb-gray200: rgba(0, 0, 0, 0.18);
$filter-hover-dark-gray700: rgba(0, 0, 0, 0.16);
$filter-hover-dark-gray500: rgba(0, 0, 0, 0.18);
$filter-hover-dark-gray400: rgba(0, 0, 0, 0.16);
$filter-hover-dark-gray200: rgba(0, 0, 0, 0.18);
$filter-hover-light-gray700: rgba(0, 0, 0, 0.04);
$filter-hover-light-gray600: rgba(0, 0, 0, 0.04);
$filter-hover-light-gray400: rgba(0, 0, 0, 0.04);
$filter-hover-light-gray300: rgba(0, 0, 0, 0.04);

$filter-active-tb-gray700: rgba(0, 0, 0, 0.32);
$filter-active-tb-gray500: rgba(0, 0, 0, 0.26);
$filter-active-tb-gray400: rgba(0, 0, 0, 0.32);
$filter-active-tb-gray200: rgba(0, 0, 0, 0.26);
$filter-active-dark-gray700: rgba(0, 0, 0, 0.32);
$filter-active-dark-gray500: rgba(0, 0, 0, 0.26);
$filter-active-dark-gray400: rgba(0, 0, 0, 0.32);
$filter-active-dark-gray200: rgba(0, 0, 0, 0.26);
$filter-active-light-gray700: rgba(0, 0, 0, 0.06);
$filter-active-light-gray600: rgba(0, 0, 0, 0.06);
$filter-active-light-gray400: rgba(0, 0, 0, 0.06);
$filter-active-light-gray300: rgba(0, 0, 0, 0.06);

$p1-svg: "data:image/svg+xml," +
  "<svg width='48' height='48' viewBox='0 0 48 48' fill='none'" +
  "  xmlns='http://www.w3.org/2000/svg'>" +
  "  <g stroke='rgba(102, 144, 253, 1)'>" +
  "    <line x1='6.35355' y1='19.6883' x2='28.981' y2='42.3157' />" +
  "    <line x1='9.8643' y1='16.1778' x2='32.4917' y2='38.8052' />" +
  "    <line x1='13.375' y1='12.6674' x2='36.0025' y2='35.2948' />" +
  "    <line x1='16.8848' y1='9.1569' x2='39.5122' y2='31.7843' />" +
  "    <line x1='20.3955' y1='5.64643' x2='43.023' y2='28.2738' />" + "  </g>" +
  "</svg>";

$p2-svg: "data:image/svg+xml," +
  "<svg width='48' height='48' viewBox='0 0 48 48' fill='none'" +
  "  xmlns='http://www.w3.org/2000/svg'>" +
  "  <g stroke='rgba(250, 71, 114, 1)'>" +
  "    <line x1='5.64645' y1='28.2739' x2='28.2739' y2='5.64645' />" +
  "    <line x1='9.15719' y1='31.7843' x2='31.7846' y2='9.15691' />" +
  "    <line x1='12.667' y1='35.2948' x2='35.2944' y2='12.6674' />" +
  "    <line x1='16.1777' y1='38.8052' x2='38.8051' y2='16.1778' />" +
  "    <line x1='19.6884' y1='42.3157' x2='42.3159' y2='19.6883' />" + "  </g>" +
  "</svg>";

// Naming scheme: --c[ELEVATION]-<NAME>
// elevation starts at 0 and is omitted for colors that do not depend on it;
// `c` stands for color

// Variables shared across all themes
:root {
  // Player image backgrounds
  --c-p1-image: url("#{$p1-svg}");
  --c-p2-image: url("#{$p2-svg}");
}

// Set true black theme as default
:root {
  --c0: #{$black};
  --c0-text: #{$black-text-primary};
  --c0-drop-shadow: transparent;

  --c0-button: #{$tb-gray700};
  --c0-button-border: 1px solid #{$tb-gray400};
  --c0-button-text: var(--c0-text);
  --c0-button-box-shadow: none;
  --c0-button-transform: translate(0, 0);

  --c0-button-hover: #{solidify($tb-gray700, $filter-hover-tb-gray700)};
  --c0-button-hover-border: 1px solid #{solidify($tb-gray400, $filter-hover-tb-gray400)};
  --c0-button-hover-text: var(--c0-text);
  --c0-button-hover-box-shadow: none;
  --c0-button-hover-transform: translate(0, 0);

  --c0-button-active: #{solidify($tb-gray700, $filter-active-tb-gray700)};
  --c0-button-active-border: 1px solid #{solidify($tb-gray400, $filter-active-tb-gray400)};
  --c0-button-active-text: var(--c0-text);
  --c0-button-active-box-shadow: none;
  --c0-button-active-transform: translate(0, 0);

  --c0-game-border: 2px solid #{$black-text-secondary-solid};
  --c0-p1: #{$blue500};
  --c0-p2: #{$red500};
  --c0-slot-none-border: 1px solid #{$black-text-tertiary-solid};
  --c0-slot-none-background: var(--c0);
  --c0-slot-p1-border: 2px solid var(--c0-p1);
  --c0-slot-p1-background: var(--c0);
  --c0-slot-p2-border: 2px solid var(--c0-p2);
  --c0-slot-p2-background: var(--c0);

  --c1: #{$tb-gray700};
  --c1-text: #{$tb-gray-text-primary};
  --c1-drop-shadow: #{$shadow-on-tb-gray700};
  --c1-card: #{$tb-gray600};
  --c1-card-text: #{$tb-gray-text-primary};
  --c1-card-drop-shadow: #{$drop-shadow-on-tb-gray700};

  --c1-button: #{$tb-gray500};
  --c1-button-border: 1px solid #{$tb-gray200};
  --c1-button-text: var(--c1-text);
  --c1-button-drop-shadow: #{$drop-shadow-on-tb-gray700};
  --c1-button-transform: translate(0, 0);

  --c1-button-hover: #{solidify($tb-gray500, $filter-hover-tb-gray500)};
  --c1-button-hover-border: 1px solid #{solidify($tb-gray200, $filter-hover-tb-gray500)};
  --c1-button-hover-text: var(--c1-text);
  --c1-button-hover-drop-shadow: #{$drop-shadow-on-tb-gray700};
  --c1-button-hover-transform: translate(0, 0);

  --c1-button-active: #{solidify($tb-gray500, $filter-active-tb-gray500)};
  --c1-button-active-border: 1px solid #{solidify($tb-gray200, $filter-active-tb-gray200)};
  --c1-button-active-text: var(--c1-text);
  --c1-button-active-drop-shadow: none;
  --c1-button-active-transform: translate(2px, 2px);

  --c1-control: #{$tb-gray600};
  --c1-control-border: 1px solid #{$tb-gray300};
  --c1-control-text: #{$tb-gray-text-primary};
  --c1-control-drop-shadow: #{$drop-shadow-on-tb-gray700};
  --c1-control-transform: translate(0, 0);

  --c1-p1-button: #{$blue700};
  --c1-p1-button-border: 1px solid #{$blue600};
  --c1-p1-button-text: #{$blue700-text-primary};
  --c1-p2-button: #{$red700};
  --c1-p2-button-border: 1px solid #{$red600};
  --c1-p2-button-text: #{$red700-text-primary};

  --c1-p1-button-hover: #{$blue700};
  --c1-p1-button-hover-border: 1px solid #{$blue600};
  --c1-p1-button-hover-text: #{$blue700-text-primary};
  --c1-p2-button-hover: #{$red700};
  --c1-p2-button-hover-border: 1px solid #{$red600};
  --c1-p2-button-hover-text: #{$red700-text-primary};

  --c1-p1-button-active: #{$blue700};
  --c1-p1-button-active-border: 1px solid #{$blue600};
  --c1-p1-button-active-text: #{$blue700-text-primary};
  --c1-p2-button-active: #{$red700};
  --c1-p2-button-active-border: 1px solid #{$red600};
  --c1-p2-button-active-text: #{$red700-text-primary};

  --c-dialog-background: rgba(0, 0, 0, 0.4);
  --c-dialog-drop-shadow: none;
  --c-context-menu-separator-color: #{$tb-gray400};
  --c-context-menu-separator: 1px solid var(--c-context-menu-separator-color);
  --c-context-menu-drop-shadow: none;
  --c-context-menu-hover: #{$filter-active-tb-gray700};
  --c-focus-visible-border-color: #{$tb-gray-text-primary}; // TODO: Change this so something else
}

.dark {
  --c0: #{$dark-gray900};
  --c0-text: #{$dark-gray900-text-primary};
  --c0-drop-shadow: #{$shadow-on-dark-gray900};

  --c0-button: #{$dark-gray700};
  --c0-button-border: 1px solid #{$dark-gray400};
  --c0-button-text: #{$dark-gray-text-primary};
  --c0-button-drop-shadow: #{$drop-shadow-on-dark-gray900};
  --c0-button-transform: translate(0, 0);

  --c0-button-hover: #{solidify($dark-gray700, $filter-hover-dark-gray700)};
  --c0-button-hover-border: 1px solid #{solidify($dark-gray400, $filter-hover-dark-gray400)};
  --c0-button-hover-text: #{$dark-gray-text-primary};
  --c0-button-hover-drop-shadow: #{$drop-shadow-on-dark-gray900};
  --c0-button-hover-transform: translate(0, 0);

  --c0-button-active: #{solidify($dark-gray700, $filter-active-dark-gray700)};
  --c0-button-active-border: 1px solid #{solidify($dark-gray400, $filter-active-dark-gray400)};
  --c0-button-active-text: #{$dark-gray-text-primary};
  --c0-button-active-drop-shadow: none;
  --c0-button-active-transform: translate(2px, 2px);

  --c0-game-border: 2px solid #{$dark-gray900-text-secondary-solid};
  --c0-p1: #{$blue500};
  --c0-p2: #{$red500};
  --c0-slot-none-border: 1px solid #{$dark-gray900-text-tertiary-solid};
  --c0-slot-none-background: #{$dark-gray800};
  --c0-slot-p1-border: 2px solid var(--c0-p1);
  --c0-slot-p1-background: #{$blue900};
  --c0-slot-p2-border: 2px solid var(--c0-p2);
  --c0-slot-p2-background: #{$red900};

  --c1: #{$dark-gray700};
  --c1-text: #{$dark-gray-text-primary};
  --c1-drop-shadow: #{$shadow-on-dark-gray700};
  --c1-card: #{$dark-gray600};
  --c1-card-text: #{$dark-gray-text-primary};
  --c1-card-drop-shadow: #{$drop-shadow-on-dark-gray700};

  --c1-button: #{$dark-gray500};
  --c1-button-border: 1px solid #{$dark-gray200};
  --c1-button-text: #{$dark-gray-text-primary};
  --c1-button-drop-shadow: #{$drop-shadow-on-dark-gray700};
  --c1-button-transform: translate(0, 0);

  --c1-button-hover: #{solidify($dark-gray500, $filter-hover-dark-gray500)};
  --c1-button-hover-border: 1px solid #{solidify($dark-gray200, $filter-hover-dark-gray200)};
  --c1-button-hover-text: #{$dark-gray-text-primary};
  --c1-button-hover-drop-shadow: #{$drop-shadow-on-dark-gray700};
  --c1-button-hover-transform: translate(0, 0);

  --c1-button-active: #{solidify($dark-gray500, $filter-active-dark-gray500)};
  --c1-button-active-border: 1px solid #{solidify($dark-gray200, $filter-active-dark-gray200)};
  --c1-button-active-text: #{$dark-gray-text-primary};
  --c1-button-active-drop-shadow: none;
  --c1-button-active-transform: translate(2px, 2px);

  --c1-control: #{$dark-gray600};
  --c1-control-border: 1px solid #{$dark-gray300};
  --c1-control-text: #{$dark-gray-text-primary};
  --c1-control-drop-shadow: #{$drop-shadow-on-dark-gray700};
  --c1-control-transform: translate(0, 0);

  --c1-p1-button: #{$blue700};
  --c1-p1-button-border: 1px solid #{$blue600};
  --c1-p1-button-text: #{$blue700-text-primary};
  --c1-p2-button: #{$red700};
  --c1-p2-button-border: 1px solid #{$red600};
  --c1-p2-button-text: #{$red700-text-primary};

  --c1-p1-button-hover: #{$blue700};
  --c1-p1-button-hover-border: 1px solid #{$blue600};
  --c1-p1-button-hover-text: #{$blue700-text-primary};
  --c1-p2-button-hover: #{$red700};
  --c1-p2-button-hover-border: 1px solid #{$red600};
  --c1-p2-button-hover-text: #{$red700-text-primary};

  --c1-p1-button-active: #{$blue700};
  --c1-p1-button-active-border: 1px solid #{$blue600};
  --c1-p1-button-active-text: #{$blue700-text-primary};
  --c1-p2-button-active: #{$red700};
  --c1-p2-button-active-border: 1px solid #{$red600};
  --c1-p2-button-active-text: #{$red700-text-primary};

  --c-dialog-background: rgba(255, 255, 255, 0.4);
  --c-dialog-drop-shadow: 16px 16px 0 rgba(0, 0, 0, 0.22);
  --c-context-menu-separator-color: #{$dark-gray400};
  --c-context-menu-separator: 1px solid var(--c-context-menu-separator-color);
  --c-context-menu-drop-shadow: 8px 8px 0 rgba(0, 0, 0, 0.22);
  --c-context-menu-hover: #{$filter-hover-dark-gray700};
  --c-focus-visible-border-color: #{$dark-gray-text-primary}; // TODO: Change this to something else
}

.light {
  --c0: #{$light-gray100};
  --c0-text: #{$light-gray100-text-primary};
  --c0-drop-shadow: #{$shadow-on-light-gray100};

  --c0-button: #{$light-gray300};
  --c0-button-border: 1px solid #{$light-gray600};
  --c0-button-text: #{$light-gray-text-primary};
  --c0-button-drop-shadow: #{$drop-shadow-on-light-gray100};
  --c0-button-transform: translate(0, 0);

  --c0-button-hover: #{solidify($light-gray300, $filter-hover-light-gray300)};
  --c0-button-hover-border: 1px solid #{solidify($light-gray600, $filter-hover-light-gray600)};
  --c0-button-hover-text: #{$light-gray-text-primary};
  --c0-button-hover-drop-shadow: #{$drop-shadow-on-light-gray100};
  --c0-button-hover-transform: translate(0, 0);

  --c0-button-active: #{solidify($light-gray300, $filter-active-light-gray300)};
  --c0-button-active-border: 1px solid #{solidify($light-gray600, $filter-active-light-gray600)};
  --c0-button-active-text: #{$light-gray-text-primary};
  --c0-button-active-drop-shadow: none;
  --c0-button-active-transform: translate(2px, 2px);

  --c0-game-border: 2px solid #{$light-gray100-text-secondary-solid};
  --c0-p1: #{$blue500};
  --c0-p2: #{$red500};
  --c0-slot-none-border: 1px solid #{$light-gray100-text-tertiary-solid};
  --c0-slot-none-background: #{$light-gray200};
  --c0-slot-p1-border: 2px solid var(--c0-p1);
  --c0-slot-p1-background: #{$blue100};
  --c0-slot-p2-border: 2px solid var(--c0-p2);
  --c0-slot-p2-background: #{$red100};

  --c1: #{$light-gray300};
  --c1-text: #{$light-gray-text-primary};
  --c1-drop-shadow: #{$shadow-on-light-gray300};
  --c1-card: #{$light-gray200};
  --c1-card-text: #{$light-gray-text-primary};
  --c1-card-drop-shadow: #{$drop-shadow-on-light-gray300};

  --c1-button: #{$light-gray400};
  --c1-button-border: 1px solid #{$light-gray700};
  --c1-button-text: #{$light-gray-text-primary};
  --c1-button-drop-shadow: #{$drop-shadow-on-light-gray300};
  --c1-button-transform: translate(0, 0);

  --c1-button-hover: #{solidify($light-gray400, $filter-hover-light-gray400)};
  --c1-button-hover-border: 1px solid #{solidify($light-gray700, $filter-hover-light-gray700)};
  --c1-button-hover-text: #{$light-gray-text-primary};
  --c1-button-hover-drop-shadow: #{$drop-shadow-on-light-gray300};
  --c1-button-hover-transform: translate(0, 0);

  --c1-button-active: #{solidify($light-gray400, $filter-active-light-gray400)};
  --c1-button-active-border: 1px solid #{solidify($light-gray700, $filter-active-light-gray700)};
  --c1-button-active-text: #{$light-gray-text-primary};
  --c1-button-active-drop-shadow: none;
  --c1-button-active-transform: translate(2px, 2px);

  --c1-control: #{$light-gray200};
  --c1-control-border: 1px solid #{$light-gray600};
  --c1-control-text: #{$light-gray-text-primary};
  --c1-control-drop-shadow: #{$drop-shadow-on-light-gray300};
  --c1-control-transform: translate(0, 0);

  --c1-p1-button: #{$blue500};
  --c1-p1-button-border: 1px solid #{$blue600};
  --c1-p1-button-text: #{$blue500-text-primary};
  --c1-p2-button: #{$red500};
  --c1-p2-button-border: 1px solid #{$red600};
  --c1-p2-button-text: #{$red500-text-primary};

  --c1-p1-button-hover: #{$blue500};
  --c1-p1-button-hover-border: 1px solid #{$blue600};
  --c1-p1-button-hover-text: #{$blue500-text-primary};
  --c1-p2-button-hover: #{$red500};
  --c1-p2-button-hover-border: 1px solid #{$red600};
  --c1-p2-button-hover-text: #{$red500-text-primary};

  --c1-p1-button-active: #{$blue500};
  --c1-p1-button-active-border: 1px solid #{$blue600};
  --c1-p1-button-active-text: #{$blue500-text-primary};
  --c1-p2-button-active: #{$red500};
  --c1-p2-button-active-border: 1px solid #{$red600};
  --c1-p2-button-active-text: #{$red500-text-primary};

  --c-dialog-background: rgba(255, 255, 255, 0.4);
  --c-dialog-drop-shadow: 16px 16px 0 rgba(0, 0, 0, 0.22);
  --c-context-menu-separator-color: #{$light-gray600};
  --c-context-menu-separator: 1px solid var(--c-context-menu-separator-color);
  --c-context-menu-drop-shadow: 8px 8px 0 rgba(0, 0, 0, 0.22);
  --c-context-menu-hover: #{$filter-hover-light-gray300};
  --c-focus-visible-border-color: #{$light-gray-text-primary}; // TODO: Change this to something else
}

// CSS classes that define surface levels

.c0,
body {
  --c: var(--c0);
  --c-text: var(--c0-text);
  --c-drop-shadow: var(--c0-drop-shadow);

  --c-button: var(--c0-button);
  --c-button-border: var(--c0-button-border);
  --c-button-text: var(--c0-button-text);
  --c-button-drop-shadow: var(--c0-button-drop-shadow);
  --c-button-transform: var(--c0-button-transform);

  --c-button-hover: var(--c0-button-hover);
  --c-button-hover-border: var(--c0-button-hover-border);
  --c-button-hover-text: var(--c0-button-hover-text);
  --c-button-hover-drop-shadow: var(--c0-button-hover-drop-shadow);
  --c-button-hover-transform: var(--c0-button-hover-transform);

  --c-button-active: var(--c0-button-active);
  --c-button-active-border: var(--c0-button-active-border);
  --c-button-active-text: var(--c0-button-active-text);
  --c-button-active-drop-shadow: var(--c0-button-active-drop-shadow);
  --c-button-active-transform: var(--c0-button-active-transform);

  --c-game-border: var(--c0-game-border);
  --c-p1: var(--c0-p1);
  --c-p2: var(--c0-p2);
  --c-slot-none-border: var(--c0-slot-none-border);
  --c-slot-none-background: var(--c0-slot-none-background);
  --c-slot-p1-border: var(--c0-slot-p1-border);
  --c-slot-p1-background: var(--c0-slot-p1-background);
  --c-slot-p2-border: var(--c0-slot-p2-border);
  --c-slot-p2-background: var(--c0-slot-p2-background);
}

.c1 {
  --c: var(--c1);
  --c-text: var(--c1-text);
  --c-drop-shadow: var(--c1-drop-shadow);
  --c-card: var(--c1-card);
  --c-card-text: var(--c1-card-text);
  --c-card-drop-shadow: var(--c1-card-drop-shadow);

  --c-button: var(--c1-button);
  --c-button-border: var(--c1-button-border);
  --c-button-text: var(--c1-button-text);
  --c-button-drop-shadow: var(--c1-button-drop-shadow);
  --c-button-transform: var(--c1-button-transform);

  --c-button-hover: var(--c1-button-hover);
  --c-button-hover-border: var(--c1-button-hover-border);
  --c-button-hover-text: var(--c1-button-hover-text);
  --c-button-hover-drop-shadow: var(--c1-button-hover-drop-shadow);
  --c-button-hover-transform: var(--c1-button-hover-transform);

  --c-button-active: var(--c1-button-active);
  --c-button-active-border: var(--c1-button-active-border);
  --c-button-active-text: var(--c1-button-active-text);
  --c-button-active-drop-shadow: var(--c1-button-active-drop-shadow);
  --c-button-active-transform: var(--c1-button-active-transform);

  --c-control: var(--c1-control);
  --c-control-border: var(--c1-control-border);
  --c-control-text: var(--c1-control-text);
  --c-control-drop-shadow: var(--c1-control-drop-shadow);
  --c-control-transform: var(--c1-control-transform);

  --c-p1-button: var(--c1-p1-button);
  --c-p1-button-border: var(--c1-p1-button-border);
  --c-p1-button-text: var(--c1-p1-button-text);
  --c-p2-button: var(--c1-p2-button);
  --c-p2-button-border: var(--c1-p2-button-border);
  --c-p2-button-text: var(--c1-p2-button-text);

  --c-p1-button-hover: var(--c1-p1-button-hover);
  --c-p1-button-hover-border: var(--c1-p1-button-hover-border);
  --c-p1-button-hover-text: var(--c1-p1-button-hover-text);
  --c-p2-button-hover: var(--c1-p2-button-hover);
  --c-p2-button-hover-border: var(--c1-p2-button-hover-border);
  --c-p2-button-hover-text: var(--c1-p2-button-hover-text);

  --c-p1-button-active: var(--c1-p1-button-active);
  --c-p1-button-active-border: var(--c1-p1-button-active-border);
  --c-p1-button-active-text: var(--c1-p1-button-active-text);
  --c-p2-button-active: var(--c1-p2-button-active);
  --c-p2-button-active-border: var(--c1-p2-button-active-border);
  --c-p2-button-active-text: var(--c1-p2-button-active-text);
}
